{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
      {% csrf_token %}
        <div class="form-group">
          <label for="login">Login</label>
          <input class="form-control" id="login" name="login" placeholder="Login" value="{{ form.login.value }}">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="password" id="password" name="password" placeholder="Password" value="{{ form.password.value }}">
        </div>
        <div class="form-group">
          <label for="new_password">New password</label>
          <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New password" value="{{ form.new_password.value }}">
        </div>
        <div class="form-group">
          <label for="reenter_password">Reenter password</label>
          <input type="password" class="form-control" id="reenter_password" name="reenter_password" placeholder="Reenter password" value="{{ form.reenter_password.value }}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}