{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../../static/login_register.css">
<div class="container-fluid">
	 <form action="" method="post" class="register-form">
         {% csrf_token %}
      <div class="row">
           <div class="col-md-4 col-sm-4 col-lg-4">
              <label for="firstName">LOGIN</label>
               <input class="form-control" id="login" name="login" placeholder="Login" value="{{ form.login.value }}">
           </div>
      </div>
      <div class="row">
           <div class="col-md-4 col-sm-4 col-lg-4">
              <label for="password">CONFIRM PASSWORD</label>
               <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="{{ form.password.value }}">
           </div>
      </div>
      <hr>
         <div>
          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
           <button class="btn btn-default logbutton">Sign up</button>
          </div>
      </div>
    </form>
</div>
{% endblock %}