<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bank</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}  <a href="{% url 'user:logout' %}">[logout]</a></p>
        <p>To change password <a href="{% url 'user:change_password' %}">[Change password ]</a></p>
        {% else %}
        <p>Welcome, Guest <a href="{% url 'user:login' %}">[login]</a></p>


    {% endif %}
    {% block content %}
    {% endblock %}

  </div>
</div>
</body>
</html>